@import url(http://fonts.googleapis.com/css?family=Lobster|Raleway:700,400,300);
/* GLOBAL */

.container-fluid{
    padding: 0;
    margin: 0;
}


#our_story, #review,#menu,#contact{
    min-height: 300px;
}
/* NAV section */
.nav li a:hover{
    background-color:transparent;
}
.navbar-default{
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: rgba(17,17,17,.5);
}
.navbar-default .navbar-nav>li>a{
    color: #fcfcfc;
    text-shadow: 1px 1px 2px #0a0a0a;
}
.navbar-default  .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus{
    color: #f8512f;
    background-color:rgba (17,17,17,.2);
}
nav.navbar{
    position: absolute;
    top :100;
    right : 0;
    left : 0;
    z-index: 20;
}
.navbar-brand>img{
    margin-top: -7px;
}
.wrap{
    min-height: 100vh;
}
.carousel{
    margin-bottom: 60px;
}
.carousel-caption{
    z-index:10;
    padding-bottom: 60px;
}
.carousel-inner .item{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
}
.main_img1{
    background-image : url('../img/wood-2.jpg');

}
.main_img2{
    background-image: url('../img/restaurant-2.jpg');
}
.main_img3{
    background-image: url('../img/farm-2.jpg');
}
.main_logo{
    max-height: 300px;
}
.carousel-caption p{
    color: #f7f7f7;
    font-size: 16px;
}
.btn-primary {
    color:#fff;
    background-color: #f8512f;
    border-color: transparent;
}
.btn-primary:hover{
    background-color: #d34326;
    border-color: transparent;
}
/* OUR STORY SECTION */


#our_story .row{
    margin-top: 30px;
}
#our_story h1{
    font-family: 'lobster', serif;
   color:#f8512f;
   font-size: 6em;
   text-shadow: 1px 1px 5px #0a0a0a;
}
#our_story h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2em;
    margin-top: 0;
}
#our_sotry p{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
.story_year{
    font-family: 'Playfair Display', serif;
    font-size: 200px;
    font-weight: 700;
    z-index: -1;
    position: absolute;
    color: rgba(149,147,147,0.2);
   
}
@media screen and (max-width:954px){
    .story_year{
        font-size: 180px;
    }
}
@media screen and (max-width:890px){
    .story_year{
        font-size: 170px;
    }
}
@media screen and (max-width:954px){
    .story_year{
        font-size: 180px;
    }
}
@media screen and (max-width:860px){
    .story_year{
        font-size: 150px;
    }
}
@media screen and (max-width:789px){
    .story_year{
        position: absolute;
        left:30%;
    }
}
@media screen and (max-width:493px){
    .story_year{
        position: absolute;
        left:20%;
    }
}
@media screen and (max-width:393px){
    .story_year{
        position: absolute;
        left:10%;
    }
}

/* REVIEW section */
#review{
    background-image: url('../img/food_review.jpg');
    background-size: cover;
    background-attachment: fixed;
}
#review .center{
    margin: 0 auto;
    float: none;
    background-color: rgba(20,20,20,.6);
    padding: 10px;
    margin-top:145px;
    border-radius: 5px;
}
#review h1{
    font-family: 'lobster', cursive;
    font-size: 5em;
    color:#f8512f;
    text-shadow: 1px 1px 1px #0a0a0a;
}
#review p{
    color:#fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 2em;
    text-shadow: 1px 1px 5px #0a0a0a;
}

/* MENU SECTION */
#menu{
    background-image: url('../img/black_linen.png');
    background-size: cover;
    background-attachment: fixed;
    padding-top: 48px;
    padding-bottom: 70px;
}
#menu h1{
    color: #fff;
    font-family: 'Lobster',cursive;
    font-size: 6em;
    text-shadow:1px 1px 5px #0a0a0a;
}

#menu h3{
    text-align:center;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 2em;
}
#menu a {
    color: #f8512f;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
#menu p{
    text-align:justify;
    font-family: 'Raleway'sans-serif;
    font-weight: 300;
}
.food{
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}
#menu .nav li a:hover{
    background-color:rgba(255,255,255,0.1);
    border-color:transparent;
}
#menu .nav-justified li a{
    margin-bottom: -5px;
}
#menu .nav-tabs li a{
    border:none;
}
/* CONTACT section */

.contact_form{
    background-color: #ff6633;
    color: #fff;
    border: 1px solid #fff;
}
.contact_form form{
    padding: 5% 0;

}
.contact_form span{
    color: #ff0d06;
}
#contact{
    background-color: #f8512f;
}
#contact h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 4em;
}
#contact p{
    font-family: 'Raleway',sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 1em;
}
#contact_fine_print{
    font-size: 12px !important;
    text-align: center;
}
address{
    color: #fff;
    font-family: 'Raleway',sans-serif;
    font-weight: 300;
}
.contact_bottom{
    margin-top: 50px;
    margin-bottom: 25px;
}